:root {
  --primary: #0B0C10;
  --secondary: #66FCF1;
  --tertiary: #1F2833;
  --light: #C5C6C7;
  --dark: #1F2833;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
  background-color: var(--primary);
}

html,
body {
  min-height: 100%;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

header h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 120px;
  text-decoration: none;
}

.header {
  width: 100%;
  text-align: center;
}

.nav {
  text-align: center;
  align-items: center;
  margin: auto;
  padding: 5px;
}

input {
  color: var(--light);
}

.category-menu {
  text-align: center;
}

.category-menu button {
  margin: 7px;
  padding: 10px;
  padding-left: 19px;
  padding-right: 19px;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--secondary);
  text-decoration: none;
  font-weight: bold;
  transition: all ease-in-out 0.25s;
}

a:hover {
  color: var(--secondary)
}

header {
  background: var(--primary);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 500;
}

.cart-closed {
  z-index: 9999;
}

.cart {
  z-index: 9999;
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}
.dragon {
  max-width: 100%;
  max-height: 10vh;
}
img {
  max-width: 100%;
}

span[role="img"] {
  cursor: pointer;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

/* Backup method to make product images the same size if compression isn't working */
/* .card img {
  height: 300px;
  width: 300px;
} */

.error-text {
  color: var(--error);
}

/* Gallery page styles */

.gallery {
  text-align: center;
}

.gallery img {
  margin: 30px;
}

.gallery-title {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.rbc-off-range-bg {
  background-color: #1F2833 !important;
}

.appointment-scheduler {
  display: flex; 
  
}

select {
  color: white;
}

.rbc-calendar, .rbc-row, .rbc-month-row, .rbc-row-bg, .rbc-row-content, .rbc-day-bg, .rbc-month-view, .rbc-date-cell, .rbc-row-segment {
  background-color: transparent;
}

.rbc-today {
  background-color: #66FCF1 !important;
}